.container.main {
    margin-top: 7.0em;
}

#delete {
    display: inline;
}

#show {
    text-align: justify;
    text-indent: 5%;
    margin: 3%;
}

#show_img {
    width: 94%; 
}

#show_title {
    margin-left: 3%;
}

#meta {
    margin-right: 3%;
    text-align: right;
}

#edit {
    margin-left: 3%;
}
